

#header_wrapper{
    position:relative;
    height: 5em;
    width: 100%;
    padding:0;
    margin:0;
}

header{
    position:sticky;
    height: 5em;
    width: 100%;
    background-color: black;
    color: white;
}


.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 980px) {
    .container{
        width:98%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

.container .App{
    padding: 1.5em;
    border-width: .5em;
    border-color: black;
    border-radius: .1em;
    background-color: rgb(218, 218, 218);
    margin: .5em .5em;
}

.App h2{
    margin-top:.5em;

}

.App h5{
    margin-top: .25em;
    margin-bottom: .75em;
}

.App p{
    line-height: 1.2em;
}
.App button{
    margin-top: 1.5em;
    float: none;
}