#logo{
    margin-left: .75em;
    padding-top: .75em;
    width: 8em;
}

@media (min-width: 550px) {
    #logo{
        margin-left: .75em;
        padding-top: .35em;
        width: 9.5em;
    }
}

#logo h2{
    margin-bottom: 0;
}

#logo h4{
    float: right;
}

#logging{

    position: absolute;
    transform: translateY(-2em);
    right: 0;
    color: white;
    width: 10rem;
    background-color: black;
    margin-right: 2em;
}

@media (min-width: 980px) {
    #logging{
        margin-right: 3em;
    }
}

#logging a{
    cursor: pointer;
    font-weight: 600;
}

#Login{
    float: right;
    
}

#logging p{
    text-align: right;
    
}



#sl_forms{
    width: 18em;
    background-color: black;
    position: absolute;
    right:0;
    margin-top: 3em;
    z-index: 999;
    color: black;
}

@media (min-width: 550px) {
    #sl_forms{
        width: 20em;
    }
}

#sl_forms label{
    text-align: left;
    margin-left: 1.6em;
    color: white;
}

#sl_forms button{
    margin-top:.75em;
    color: white;
    font-size: 1.1em;
}

#sl_forms button:hover,
#sl_forms button:focus{
    background-color:#EDEDED;
    color: black;
    
}

#login{
    margin: 1em;
    text-align: center;
}

#signup{
    margin: 1em;
    text-align: center;
}

#signup select{
    color: black;
    width: 14.25em;
}