{% extends "layouts/layout.html" %}


    {% block header_styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/head_foot.css') }}">
    {% endblock %}


{% block header %}
    <div id="logo">
        <a href="localhost:5000">
            <h2>
                Vimplex
            </h2>
            <h4>Code</h4>
        </a>
    </div>
    

    <div id="logging">
        {% if user %}
        <div id="logout">
            <a id="logout" href="/logout">Logout</a>
        </div>
        {% else %}

            <a onclick="login_popup()" id="Login">Login</a><br>
            <p>or, <a type="submit" onclick="signup_popup()" id="Signup">Signup</a></p>
            

        {% endif %}

    
    </div>
    <div id="sl_forms">
        <div id="signup" style="display:none">
            <form action="/signup" method="post">   
                <label for="uid">Name: </label>   
                <input type="text" placeholder="Name" name="uid" required>      
                <label for="passion">Passion: </label>   
                <select name="passion">
                    <option value="0">please select</option>
                    <option value="test">Test</option>
                </select>
                <label for="pwd">Password: </label>   
                <input type="password" placeholder="Password" name="pwd" required>               
                <label for="conf_pwd">confirm password: </label>   
                <input type="password" placeholder="confirm password" name="conf_pwd" required>
                <button type="submit" name="s" value="s">SignUp</button>
            </form>
        </div>

        <div id="login" style="display:none">
            <form action="/login" method="post">  
                <label for="uid">Name: </label>              
                <input type="text" placeholder="Name" name="uid" required>                
                <label for="pwd">Password: </label>
                <input type="password" placeholder="Password" name="pwd" required>
                <button type="submit" name="l" value="s">Login</button>
            </form>
        </div>
    </div>  
    
    
    
    
{% endblock %}